body {
  margin: 0;
  background-color: #0d1117;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
}

#login-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.error {
  color: #f34b4b;
  font-size: 12px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #9970b9;
  transition: 0.1s;
}
