#register-page main {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-input-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.register-input-container > input {
  flex: 40%;
  width: 100%;
  padding: 10px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reg-birthday {
  font-family: "Roboto", sans-serif;
  color: #707070;
}